body {
  margin: 0;
  padding: 0;
  background-color: #ffffff; /* Fallback background color */
  background-image: url('../public/marriott.jpeg'); /* Ensure the path is correct */
  background-size: 1200px;
  background-position: 0px 200px; /* Adjust this value to move the image down */
  background-repeat: no-repeat; /* Ensure the image does not repeat */
  font-family: Arial, sans-serif; /* Example font-family */
}

.App {
  text-align: center;
  margin-top: 50px;
}

.RegistrationForm {
  width: 400px;
  padding: 20px;
  border-radius: 5px;
  float: right; /* Moves the form to the right */
  margin-right: 50px; /* Adjust this value to position the form */
}

.RegistrationForm input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.RegistrationForm button {
  width: 100%;
  padding: 10px;
  background-color: #000000;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.RegistrationForm button:hover {
  background-color: #000000;
}

.register {
  font-family: 'Roboto', sans-serif; /* Modern font family */
  font-size: 16px;                   /* Sets the font size */
  color: #333;                       /* Sets the text color */
  background: linear-gradient(135deg, #f9f9f9, #e9e9e9); /* Adds a subtle gradient background */
  padding: 20px;                     /* Adds more padding inside the div */
  border: 1px solid #ccc;            /* Adds a border around the div */
  border-radius: 10px;               /* Rounds the corners of the border */
  width: 320px;                      /* Sets the width of the div */
  text-align: center;                /* Centers the text inside the div */
  margin: 135px 1250px;                      /* Adds margin to the div */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Adds a softer shadow to the div */
  transition: all 0.3s ease-in-out;  /* Adds a smooth transition effect */
}


.error {
  color: red;
  font-size: 16px;
  margin-top: 5px;
  font-weight: bold;
}
